main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem
}
img {
    max-width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}
header a{
    margin: 10px;
    text-decoration: none;
    color: rgb(29, 21, 21);
}